{% extends "blog/base.html" %}
{% block content %}
    <h1>What is Shalz's Blog About?</h1>
    <p>Welcome to first Blog! My name is Shalewa Oseni. I am a newbie web developer. I started to code in March, 2020 and this my first main project.</p>
    <p>I'm sure you're wondering what you can do with this Blog. 
        Well, you can register, post contents, update your profile, 
        reset your password if you forget it, or have trouble logging in you can and share your thoughts with the world.
    </p>
{% endblock content %}
